<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/apple-icon-180x180.ico" rel="icon">

  <title>Title page</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Solutions</a></li>
          <li><a href="./summary.html" title="">03 : Summary</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
          <li><a href="./sources.html" title="">05 : Bibliography</a></li>
        </ul>


          <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            
          </ul>


      </div> 
    </div>
  </nav>
</header>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/images/turtle.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">05 : Bibliography</h1>
          </div>
          <p>1.<a href="https://www.cnbc.com/2021/07/23/these-companies-are-sucking-carbon-from-the-atmosphere.html">https://www.cnbc.com/2021/07/23/these-companies-are-sucking-carbon-from-the-atmosphere.html/</a>
            <p><br /></p>
            2.<a href="https://theclimateconnection.org/carbon-capture-and-storage-pros-cons">https://theclimateconnection.org/carbon-capture-and-storage-pros-cons/</a>
            <p><br /></p>
            3.<a href="https://fivethirtyeight.com/features/why-carbon-capture-hasnt-saved-us-from-climate-change-yet">https://fivethirtyeight.com/features/why-carbon-capture-hasnt-saved-us-from-climate-change-yet/</a>
            <p><br /></p>
            4.<a href="https://www.rechargenews.com/energy-transition/the-amount-of-energy-required-by-direct-air-carbon-capture-proves-it-is-an-exercise-in-futility/2-1-1067588">https://www.rechargenews.com/energy-transition/the-amount-of-energy-required-by-direct-air-carbon-capture-proves-it-is-an-exercise-in-futility/2-1-1067588</a>
            <p><br /></p>
            5.<a href="https://www.carbonbrief.org/direct-co2-capture-machines-could-use-quarter-global-energy-in-2100">https://www.carbonbrief.org/direct-co2-capture-machines-could-use-quarter-global-energy-in-2100</a>
            <p><br /></p>
            6.<a href="https://www.geoengineeringmonitor.org/2021/11/fossil-fuel-industry-and-investments-in-ccs-ccus">https://www.geoengineeringmonitor.org/2021/11/fossil-fuel-industry-and-investments-in-ccs-ccus/</a>
            <p><br /></p>
            7.<a href="https://www.energyandpolicy.org/petra-nova/#:~:text=Petra%20Nova%20is%20the%20only,gas%20company%20based%20in%20Japan">https://www.energyandpolicy.org/petra-nova/#:~:text=Petra%20Nova%20is%20the%20only,gas%20company%20based%20in%20Japan.</a>
            <p><br /></p>
            8.<a href="https://thred.com/change/how-the-carbon-footprint-originated-as-a-pr-campaign-for-big-oil">https://thred.com/change/how-the-carbon-footprint-originated-as-a-pr-campaign-for-big-oil/</a>
            <p><br /></p>
            9.<a href="https://mashable.com/feature/carbon-footprint-pr-campaign-sham">https://mashable.com/feature/carbon-footprint-pr-campaign-sham</a>
            <p><br /></p>
            10.<a href="https://en.wikipedia.org/wiki/James_Hansen#Climate_change_activism">https://en.wikipedia.org/wiki/James_Hansen#Climate_change_activism</a>
            <p><br /></p>
            11.<a href="https://www.nature.org/en-us/get-involved/how-to-help/carbon-footprint-calculator/#:~:text=A%20carbon%20footprint%20is%20the,highest%20rates%20in%20the%20world.">https://www.nature.org/en-us/get-involved/how-to-help/carbon-footprint-calculator/#:~:text=A%20carbon%20footprint%20is%20the,highest%20rates%20in%20the%20world.</a>
            <p><br /></p>
            12.<a href="https://www.nature.com/articles/d41586-021-02847-2#:~:text=Last%20month%2C%20the%20International%20Monetary,result%20of%20these%20external%20costs.">https://www.nature.com/articles/d41586-021-02847-2#:~:text=Last%20month%2C%20the%20International%20Monetary,result%20of%20these%20external%20costs.</a>
            <p><br /></p>
            13.<a href="https://youmatter.world/en/is-nuclear-energy-clean-zero-emissions-and-ecological">https://youmatter.world/en/is-nuclear-energy-clean-zero-emissions-and-ecological/</a>
            <p><br /></p>
            14.<a href="https://www.renewableenergyworld.com/baseload/grid-inertia-why-it-matters-in-a-renewable-world/#gref">https://www.renewableenergyworld.com/baseload/grid-inertia-why-it-matters-in-a-renewable-world/#gref</a>
            <p><br /></p>
            15.<a href="https://www.nationalgrideso.com/electricity-explained/how-do-we-balance-grid/what-inertia">https://www.nationalgrideso.com/electricity-explained/how-do-we-balance-grid/what-inertia</a>
            <p><br /></p>
            16.<a href="https://www.rolandberger.com/en/Insights/Publications/Climate-protection-in-the-manufacturing-sector-Challenges-and-solutions.html">https://www.rolandberger.com/en/Insights/Publications/Climate-protection-in-the-manufacturing-sector-Challenges-and-solutions.html</a>
            <p><br /></p>
            17.<a href="https://www.csis.org/analysis/all-glitters-not-green#:~:text=A%20European%20Commission%20survey%20found,could%20not%20be%20accurately%20measured.">https://www.csis.org/analysis/all-glitters-not-green#:~:text=A%20European%20Commission%20survey%20found,could%20not%20be%20accurately%20measured.</a>
            <p><br /></p>
            18.<a href="https://eos.org/articles/global-north-is-responsible-for-92-of-excess-emissions">https://eos.org/articles/global-north-is-responsible-for-92-of-excess-emissions</a>
            <p><br /></p>
            19.<a href="https://www.greenpeace.org/usa/56-members-of-congress-come-to-the-defense-of-the-oil-and-gas-industry">https://www.greenpeace.org/usa/56-members-of-congress-come-to-the-defense-of-the-oil-and-gas-industry/</a>
            <p><br /></p>
            20.<a href="https://www.opensecrets.org/industries./recips.php?ind=E01++">https://www.opensecrets.org/industries./recips.php?ind=E01++</a>
            <p><br /></p>
            21.<a href="https://www.opensecrets.org/industries/indus.php?ind=E01">https://www.opensecrets.org/industries/indus.php?ind=E01</a>
            <p><br /></p>
            22.<a href="https://friendsoftheearth.eu/press-release/big-oil-spent-over-250-million-euros-lobbying-the-eu/#:~:text=Investigations%20show%20that%20BP%2C%20Chevron,employ%20200%20lobbyists%20in%20Brussels.">https://friendsoftheearth.eu/press-release/big-oil-spent-over-250-million-euros-lobbying-the-eu/#:~:text=Investigations%20show%20that%20BP%2C%20Chevron,employ%20200%20lobbyists%20in%20Brussels.</a>
            <p><br /></p>
            23.<a href="https://www.oxfordenergy.org/wpcms/wp-content/uploads/2016/05/The-structure-of-Chinas-oil-industry-past-trends-and-future-prospects-WPM-66.pdf">https://www.oxfordenergy.org/wpcms/wp-content/uploads/2016/05/The-structure-of-Chinas-oil-industry-past-trends-and-future-prospects-WPM-66.pdf</a>
            <p><br /></p>
            24.<a href="https://www.youtube.com/watch?v=th3KE_H27bs&t=875s">https://www.youtube.com/watch?v=th3KE_H27bs&t=875s</a>
            <p><br /></p>
            25.<a href="https://www.americanprogress.org/article/higher-minimum-wages-support-job-growth-economy-recovers-covid-19/#:~:text=Nov%203%2C%202021-,Higher%20Minimum%20Wages%20Support%20Job%20Growth%20as%20the%20Economy%20Recovers,lower%20minimum%20and%20subminimum%20wages.">https://www.americanprogress.org/article/higher-minimum-wages-support-job-growth-economy-recovers-covid-19/#:~:text=Nov%203%2C%202021-,Higher%20Minimum%20Wages%20Support%20Job%20Growth%20as%20the%20Economy%20Recovers,lower%20minimum%20and%20subminimum%20wages.</a>
            <p><br /></p>
            26.<a href="https://www.t1international.com/100years/#:~:text=On%20January%2023rd%2C%201923%20Banting,to%20it%20to%20have%20it.">https://www.t1international.com/100years/#:~:text=On%20January%2023rd%2C%201923%20Banting,to%20it%20to%20have%20it.</a>
            <p><br /></p>
            27.<a href="https://www.pewresearch.org/fact-tank/2019/05/14/more-than-half-of-countries-are-democratic">https://www.pewresearch.org/fact-tank/2019/05/14/more-than-half-of-countries-are-democratic/</a>
            <p><br /></p>
            28.<a href="https://www.washingtonpost.com/world/2021/10/23/germany-coal-climate-cop26">https://www.washingtonpost.com/world/2021/10/23/germany-coal-climate-cop26/</a>
            
            </p>

          <blockquote>
            

    </div>
  </div>
</div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© UNTITLED | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>